<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>ISO ECOLO PRO</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'homepage/info.css' %}"
    />
    {%load static%}
    <link
      href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <a href="{% url 'homepage:homepage' %}"
        ><img class="logo" src="static/homepage/images/logo-iep.png" alt=""
      /></a>
      <a style="text-decoration:none" href="{% url 'homepage:homepage' %}">
        <div class="link1">
          <h1>➜ je vérifie mon éligibilité</h1>
        </div>
      </a>
    </header>
    <div class="flag"></div>
    <h1 class="title">Tous savoir sur l'isolation à 1€</h1>
    <div>
      <div class="intro">
        <p>
          L’isolation permet d’éviter les pertes de chaleur et permet donc de
          réduire les besoins d’énergies, isoler sa maison c’est donc économiser
          jusqu'à
          <a
            href="https://www.toutsurlisolation.com/Isolation-thermique/Benefices-de-l-isolation-thermique/Comparatif-entre-une-maison-avec-et-sans-isolation"
            target="_blank"
            >30%</a
          >
          sur sa facture d’énergie, diminuer sa consommation et réduire la
          pollution, des avantages économiques et écologique pour seulement 1
          euro. Decouvrez dans les lignes qui suivent tout ce qu'il y a à savoir
          sur l'isolation à 1 euro.
        </p>
      </div>
      <h2 class="title1">l'isolation des combles</h2>
      <div class="combles">
        <p class="text1">
          Les combles sont l’une des parties de votre domicile qui doivent
          bénéficier d’une isolation en priorité. Ainsi, il est donc crucial
          pour vous de mettre tous les moyens en jeu pour y assurer une très
          bonne régulation thermique. Nous vous disons tout sur l’isolation des
          combles. le toit d'une maison est la partie qui est la plus exposée
          aux variations de temperature. L'isolation des combles perdus consiste
          à recouvrir le sol de vos combles d'un isolant, afin de supprimer les
          pertes de chaleur dû au toit de votre habitation. L'isolant est
          installé dans les combles sur toute la surface de manière homogène.
          L’isolant recouvre donc l’ensemble des espaces et supprime ainsi les
          ponts thermiques et garantit une qualité d’isolation trés élevée.
          L’isolation des combles est un choix de rénovation énergétique à
          prioriser. En effet, jusqu’à 30 % des pertes de chaleur se font par la
          toiture. Cette isolation est donc celle qui permet de faire le plus
          d’économies d’énergie pour un faible coût.
        </p>
        <img
          class="imgcombles"
          src="static/homepage/images/isolation-combles-perdus-1-euro.jpg"
          alt=""
        />
      </div>
      <h2 class="title1">l'isolation du vide sanitaire</h2>
      <div class="vide">
        <p>
          Le vide sanitaire est l’espace comprise entre le sol et le dessous du
          plancher de votre maison. En moyenne, un vide sanitaire a une hauteur
          de 70 à 80 centimètres. Il constitue une barrière naturelle comportant
          de l’air entre le sol humide et le plancher de votre maison. Afin
          d’éviter la condensation de l’eau souterraine, des évents sont
          installés dans le mur du vide sanitaire, permettant une ventilation
          faible. Outre sa fonction protégeant contre l’eau, le vide sanitaire
          renferme également vos conduites de gaz, d’eau et d’électricité.
          L’isolation du vide sanitaire de votre maison vous permet d’engendrer
          des économies en moyenne 10 à 15 % de votre facture d’énergie. En
          plus, votre plancher maintient une température agréable et votre
          maison conserve la chaleur plus longtemps. La meilleure méthode pour
          isoler votre vide sanitaire dépend du type du sol et de l’humidité.
        </p>
      </div>
      <h2 class="title1">l'isolation de la cave</h2>
      <div class="cave">
        <img
          class="imgcave"
          src="static/homepage/images/isolation-habitat-1-euro.jpg"
          alt=""
        />
        <p class="text2">
          Si l’isolation d’une cave n’est pas forcément la priorité dans une
          maison mal isolée, la cave reste tout de même un endroit qu’il est bon
          d’isoler. En effet, isoler une cave peut permettre d’améliorer le
          bilan thermique de votre maison, et contribuer ainsi à vous faire
          faire des économies d’énergie. L'isolation de la cave se fait par la
          pose de matériaux isolant sur le plafond de celle ci. Cette technique
          va permettre de supprimer les ponts thermiques entre la cave et le
          reste de la maison. Elle sera donc intéressante dans une cave non
          isolée. L’avantage principal de cette méthode est que vous n’aurez pas
          à isoler les sols du rez-de-chaussée, ce qui peut donc faire un léger
          gain d’espace.
        </p>
      </div>
      <h2 class="title1">l'isolation du garage</h2>
      <div class="garage">
        <p class="text3">
          Si votre garage est accolé à la maison ou se trouve en sous-sol, et
          vous le sentez bien, été comme hiver, soit la chaleur soit le froid
          entrent par cette pièce mal isolée, qui même si la porte reste
          constamment fermée, est perméable aux températures extérieures.
          Plusieurs solutions existe pour l'isolation du garage, l’idéal étant
          bien entendu, de mettre en place une solution d’isolation pour le
          plafond, les murs et la porte de garage ! Il vous faut prendre en
          compte que c’est une isolation thermique entre un local non chauffé et
          le reste de la maison qui l’est, permettant ainsi de supprimer les
          ponts thermiques
        </p>
        <img
          class="imggarage"
          src="static/homepage/images/isolation-plancher-800x416-1.jpg"
          alt=""
        />
      </div>
    </div>
    <br />
    <div>
      <h1 class="title">Quels sont les matériaux utilisés?</h1>
      <p>
        La laine minérale est un matériau isolant fabriqué à partir d'un produit
        naturel : le sable. Les fibres imbriquées les unes dans les autres
        emprisonnent de l'air immobile ce qui leur confèrent un grand pouvoir
        d'isolation thermique et acoustique. Elle est utilisé sous deux formes
        différentes.
      </p>
      <h2 class="title3">Laine minérale soufflée</h2>
      <br />
      <div class="souffle">
        <p class="text4">
          La technique de l'isolation par laine minérale soufflée consiste à
          projeter des flocons isolants dans les surfaces à isoler. Cette
          technique présente de nombreux avantages :
          <br />
          -Isolation homogène couvrant tous les interstices, s'adaptant ainsi à
          toutes les architectures. <br />
          -Sa structure légère garantit une isolation efficace en supprimant les
          ponts thermiques <br />
          -Une efficacité durable par l'absence de tassement des flocons <br />
          -Bon rendement acoustique <br />
          -Incombustible et ininflammable.
        </p>
        <img
          class="imgsouffle"
          src="static/homepage/images/image avec piece 1 eur.jpg"
          alt=""
        />
      </div>
      <br />
      <h2 class="title3">Laine minérale déroulée</h2>
      <br />
      <div class="deroule">
        <p class="text4">
          La technique de l'isolation par laine minérale déroulée consiste à
          dérouler des panneaux isolants dans les surfaces à isoler.
          <br />
          Cette technique présente l'avantage de supprimer la condensation des
          parois froides et d'augmenter considérablement la performance
          thermique globale du bâtiment.
          <br />
          Autres avantages :
          <br />
          -Isolation la plus utilisée en France <br />
          -Isolation rapide et efficace <br />
          -Amélioration du confort acoustique <br />
          -L'épaisseur de l'isolant détermine son niveau de résistance thermique
          <br />
          -Incombustible et ininflammable.
        </p>
        <img
          class="imgderoule"
          src="static/homepage/images/24340_3.jpg"
          alt=""
        />
      </div>
    </div>
    <br />
    <h1 class="title">Comment fonctionne l'isolation à 1€ ?</h1>
    <p>
      Depuis l’introduction de la loi POPE n°2005-781 par l’état, les
      fournisseurs d’énergie (Total, EDF, …) doivent compenser leurs activités
      polluantes en finançant les travaux d'isolations des particuliers afin
      d’éviter les pertes d’énergies d'après les articles R221-1 à R221-13.
      Depuis 2016, le programme Pacte Energie France propose alors aux ménages
      éligibles d’isoler les pièces adjacentes au lieu de vie (combles, vide
      sanitaire, cave…) pour seulement un euro. Vos travaux sont donc financés
      par les fournisseurs d’énergies. Il n'y aura pas d'avance à faire. L’Etat
      a défini des critères d’éligibilité précis pour l'isolation à 1 € afin de
      favoriser l’accès aux économies d’énergie des foyers modestes.
    </p>
    <h2 class="title3">Barème d'éligibilité à l'isolation à 1€</h2>
    <p>
      L'Anah actualise chaque année les plafonds des revenus des ménages
      éligibles à l'isolation à 1€. Il faut prendre en considération la totalité
      des revenus des personnes résidant dans l'habitation à isoler. Vous
      trouverez le revenu fiscal de référence sur votre dernier avis
      d'imposition. L'ensemble de ces revenus doivent être inférieurs ou égaux à
      :
    </p>
    <h3>BARÊME D'ÉLIGIBILITÉ À L'ISOLATION À 1 EURO - MUR - PIGNON</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre de personnes composant le foyer</th>
          <th>Habitation en Province</th>
          <th>Habitation en Ile de France</th>
        </tr>
      </thead>
      <tr>
        <td>1</td>
        <td>14 790€</td>
        <td>20 470€</td>
      </tr>
      <tr>
        <td>2</td>
        <td>21 630€</td>
        <td>30 044€</td>
      </tr>
      <tr>
        <td>3</td>
        <td>26 013€</td>
        <td>36 080€</td>
      </tr>
      <tr>
        <td>4</td>
        <td>30 389€</td>
        <td>42 128€</td>
      </tr>
      <tr>
        <td>5</td>
        <td>34 784€</td>
        <td>48 198€</td>
      </tr>
      <tr>
        <td>Par personne supplémentaire</td>
        <td>+4385€</td>
        <td>+6059€</td>
      </tr>
    </table>

    <h3>
      BARÊME D'ÉLIGIBILITÉ À L'ISOLATION À 1 EURO - PLAFOND - COMBLES - GRENIER
    </h3>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre de personnes composant le foyer</th>
          <th>Habitation en Province</th>
          <th>Habitation en Ile de France</th>
        </tr>
      </thead>
      <tr>
        <td>1</td>
        <td>18 960€</td>
        <td>24 918€</td>
      </tr>
      <tr>
        <td>2</td>
        <td>27 729€</td>
        <td>36 572€</td>
      </tr>
      <tr>
        <td>3</td>
        <td>33 346€</td>
        <td>43 924€</td>
      </tr>
      <tr>
        <td>4</td>
        <td>38 958€</td>
        <td>51 289€</td>
      </tr>
      <tr>
        <td>5</td>
        <td>44 592€</td>
        <td>58 674€</td>
      </tr>
      <tr>
        <td>Par personne supplémentaire</td>
        <td>+5617€</td>
        <td>+7377€</td>
      </tr>
    </table>

    <br />
    <a style="text-decoration:none" href="{% url 'homepage:homepage' %}">
      <div class="link">
        <h1>➜ Testez votre eligibilité</h1>
      </div>
    </a>
    <footer class="footer">
      <a
        class="cgu"
        style="text-decoration:none"
        href="{% url 'homepage:cgu' %}"
        >Conditions générales d'utilisation</a
      >
      <br />
      <p>Iso Ecolo Pro 2020 © All Rights Reserved</p>
    </footer>
  </body>
</html>
